<div class="container">
  <table class="table table-hover clickable-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>        
        <th>Description</th>            
      </tr>
    </thead>
    <tbody>
      <% for(i in appZones) {%>
      <tr >
        <td>
          <a href="/appzone/show/<%=appZones[i].id%>">
            <%=appZones[i].id%>
          </a>
        </td>
        <td>
          <a href="/appzone/show/<%=appZones[i].id%>">
            <%=appZones[i].name%>
          </a>
        </td>        
        <td>
          <a href="/appzone/show/<%=appZones[i].id%>">            
          <%=appZones[i].info%>
          </a>
        </td>      
      </tr>    
      <% } %>
    </tbody>
  </table>
</div>
